* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  margin-top: 20px;
  margin-left: 30px;
}

input:focus {
  border: 3px solid blue;
}

p {
  margin: 10px;
  padding: 0;
  font-size: x-large;
  font-weight: 900;
}

span {
  font-size: 10px;
}

.country-list {
  margin-left: 40px;
  padding: 0;
}

.country-info {
  margin-left: 40px;
}
.country-flag {
  display: inline-flex;
  width: 40px;
  height: 100%;
}

.menu-item {
  display: flex;
  list-style: none;
  align-items: center;
}

.country-name {
  display: inline-flex;
  margin-right: 5px;
}

.info-item {
  font-size: x-large;
  font-weight: normal;
}
